 @use '@/assets/scss/abstracts/variables' as *;
 @use '@/assets/scss/abstracts/typography' as *;
 @use '@/assets/scss/abstracts/mixins' as *;
 @use '@/assets/scss/components/cards' as *;
 @use '@/assets/scss/components/contact' as *;


#LucasLegendre {
  @include p (0 $space-xxl);
  padding-top: 200px;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: url('@/assets/image/PAGE_ACCUEIL/bandeau_accueil.webp');
  background-size: cover;
  background-position-y: 80%;
  background-repeat: no-repeat;
}

#LucasLegendre h1{
  color: $creme;
  text-transform: uppercase;
  line-height: 1;
}


#LucasLegendre .CarteVerte{
  margin-top: $space-xxl;
  width: 33%;
  height: auto;
}

#LucasLegendre .CarteVerte h2{
  @include body-style($size:$font-size-h3, $weight:600, $color:$creme);
  align-self: flex-start;
}

#LucasLegendre .CarteVerte p{
  margin: $space-s 0;
}

#MonParcours{
  height: 100vh;
  width: 100%;
  margin-top: 84vh; 
  // a revoir avec du js pour décalé la hauteur de la nav
  @include flex($direction: column,  $align: center, $justify: center);
}

#MonParcours img{
  width: 580px;
  height: 580px
}

#MesPassions{
  height: 100vh;
  width: 100%;
}

.MesPassionsDesktop{
  display: flex;
}

.ImagePassion{
  width: 33.33%;
}

.ImagePassion img{
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.TextePassion{
  @include flex-center;
  width: 33.33%;
  position: absolute;
  transform: translate(0%, -500%);
}

.TextePassion p{
  @include title-style($size:$font-size-base, $weight:400, $line-height:1, $color:$creme);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: $space-xs $space-m;
}

.ImagePassion:hover{
  cursor: pointer;
  width: 66.66%;
}
.ImagePassion:hover .TextePassion{
  width: 50%;
}

.ImagePassion:hover p{
  color: $vert;
  background-color: $lime;
  border-radius: 35px;
  cursor: pointer;
}

.MesPassionsCarousel{
  width: 100%;
  height: 100%;
}

.MesPassionsCarousel .Carousel{
  max-width: unset;
  max-height: unset;
  border-radius: unset;
  transform: unset;
}

.MesPassionsCarousel .ImagePassion{
    @include flex-center;
    flex: 0 0 100%;
    box-sizing: border-box;
    height: 100%;
}

.MesPassionsCarousel .TextePassion{
  width: 100%;
}

.MesPassionsCarousel .ImagePassion:hover .TextePassion{
  width: 100%;
}

#MesProjets{
  @include flex($direction: row,  $align: center, $justify: space-evenly);
  height: 100vh;
  width: 100%;
  background-color: $orange;
}


#ProjetsPro{
  @include flex($direction: column,  $align: center, $justify: end);
  width: 50%;
  height: 100%;
}

#ProjetsPro h2{
  @include title-style($size:$font-size-h1, $weight:400, $line-height:1.2, $color:$creme);
  text-transform: uppercase;
}

#ProjetsPro p{
  @include body-style($size:$font-size-h3, $weight:600, $line-height:1, $color:$creme);
}

#MesProjets .CarteVerte,#MesProjets .CarteOrange{
  width: 560px;
  height: 315px;
  margin: $space-xl;
}

.CarteVerte h3 , .CarteOrange h3{
  @include body-style($size:$font-size-h3, $weight:600, $color:$creme);
}

.MockupProjetAccueil{
  @include flex($direction: row,  $align: end, $justify: center);
  width: 50%;
}

.ContactAccueil{
  @include flex($direction: column,  $align: center, $justify: space-evenly);
  height: 70vh;
}

.ContactAccueil form{
  @include flex($direction: column,  $align: center, $justify: center);
  
}

.ContactAccueil form input, .ContactAccueil form textarea{
  @include body-style($size:$font-size-base, $weight:500, $line-height:1, $color:$creme);
  background-color: $orange;
  border-radius: 35px;
  width: 80%;
  padding: $space-xs $space-s;
}

#FooterAccueil{
  @include flex($direction: row,  $align: center, $justify: space-around);
  height: 30vh;
  background-color: $vert;
  @include body-style($size:$font-size-base, $weight:500, $line-height:1, $color:$creme);
}

.LogoNavFooterAccueil{
  @include flex($direction: row,  $align: center, $justify: space-between);
  width: 20%;
  height: 100%;
}

#LogoFooter{
  height: 200px;
}

#LogoFooter .st0{
  fill: $creme;
}

#LogoFooter .st1{
  fill: $vert;
}

#LogoFooter:hover .st0{
  fill: $lime;
}


.NavFooter{
  @include flex($direction: column,  $align: start, $justify: space-evenly);
  height: 50%;
}

.NavFooter li{
  @include body-style($size: $font-size-nav, $weight:600, $line-height:1.5, $color: $creme);
}

.NavFooter li:hover{
  color: $lime;
  cursor: pointer;
}

.ReseauFooter{
  @include flex($direction: row,  $align: center, $justify: start);
  width: 20%;
}

.ReseauFooter .LienLogoReseau{
  margin: 0 $space-xs;
  width: 80px;
}

#LogoGithub .st0{
  fill: $vert;
}

#LogoGithub .st1{
  fill: $creme;
}

#LogoGithub:hover .st1{
  fill: $lime;
}

#LogoLinkedin .st0{
  fill: $vert;
}

#LogoLinkedin .st1{
  fill: $creme;
}

#LogoLinkedin:hover .st1{
  fill: $lime;
}

.MentionsFooter{
  @include flex($direction: column,  $align: center, $justify: center);
  width: 50%;
  height: 30%;
  position: absolute;
}

.CreditFooter{
  opacity: 0.2;
  margin: $space-s 0 $space-l 0;
}

.CallToActionFooter{
  @include title-style($size:$font-size-h2, $weight:400, $line-height:1.2, $color:$creme);
  margin-bottom: auto;
}

.BaseOverlayPrenomFooter{
  @include flex($direction: column,  $align: center, $justify: space-evenly);
  position: relative;
  width: 50%;
  height: 100%;
}

.OverlayPrenomFooter{
  position: absolute;
  overflow: hidden;
  width: 98vw;
  height: 100%;
}

.NomFooter, .PrenomFooter{
  @include title-style(140px, $weight:400, $line-height:1.2);
  color: rgba($creme, 0.2);
  text-transform: uppercase;
  margin-top: 20vh;
  text-align: center;
}

.PrenomFooter{
  display: none;
}


// --- MEDIA QUERIES --

@media (max-width: 1800px){
  #FooterAccueil .NomFooter, #FooterAccueil .PrenomFooter{
    font-size: 100px;
    margin-top: 23vh;
  }

  .LogoNavFooterAccueil, .ReseauFooter{
    width: 25%;
  }

  #FooterAccueil .ReseauFooter{
    justify-content: center;
  }

  .BaseOverlayPrenomFooter{
    width: 40%;
  }
}

@media (max-width: 1700px){

  #LucasLegendre .CarteVerte{
    width: 40%;
  }

  .MentionsFooter{
    width: 30%;
    text-align: center;
  }

}

@media (max-width: 1440px){

  #LucasLegendre{
    background-size: 110%;
    background-position-x: 0%;
  }

  #LucasLegendre .CarteVerte{
    width: 45%;
  }

  .ContactAccueil .ContactTitre, .ContactAccueil .Formulaire{
    width: 40%;
  }

  .LogoNavFooterAccueil, #FooterAccueil .ReseauFooter{
    width: 30%;
  }

  .BaseOverlayPrenomFooter{
    width: 30%;
  }

}

@media (max-width: 1200px){

  #LucasLegendre .CarteVerte{
      width: 55%;
  }

  #FooterAccueil{
    padding: 0 $space-l;
  }

  .LogoNavFooterAccueil, #FooterAccueil .ReseauFooter{
    width: 38%;
  }

  .BaseOverlayPrenomFooter{
    width: 24%;
  }

  #FooterAccueil .NomFooter, #FooterAccueil .PrenomFooter {
    font-size: 75px;
    margin-top: 25vh;
}

}

@media (max-width: 1024px){

  #LucasLegendre{
    padding: 0 $space-xl;
    padding-top: 200px;
    background-size: cover;
    background-position-x: 0%;
  }

  #LucasLegendre .CarteVerte{
    width: 70%;
    background-color: rgba($vert, 0.6);
  }

  .ContactAccueil .ContactTitre, .ContactAccueil .Formulaire{
    width: 60%;
  }

  #FooterAccueil{
    flex-direction: column;
    height: auto;
    margin-top: 100px;
    padding-top: 100px;
    position: relative;
  }

  .LogoNavFooterAccueil{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $space-xl;
  }

  #FooterAccueil .LogoNavFooterAccueil #LogoFooter{
    position: absolute;
    transform: translate(-50%, -100%);
  }

  #FooterAccueil #LogoFooter .st1 {
    fill: $orange;
  }

  #FooterAccueil .NavFooter{
    align-items: center;
    margin-top: $space-l;
  }

  #FooterAccueil .NavFooter li{
    margin: $space-xs 0;
  }

  .MentionsFooter{
    position: unset;
    width: 50%;
    margin-bottom: $space-l;
  }

  #FooterAccueil .CreditFooter{
    position: absolute;
    bottom: 0;
  }

  #FooterAccueil .ReseauFooter{
    width: 100%;
    margin-bottom: $space-xl;
  }

  .BaseOverlayPrenomFooter{
    height: 200px;
    width: 100%;
    order: 1;
    margin-bottom: $space-l;
  }

  .OverlayPrenomFooter{
    width: 100%;
  }

  #FooterAccueil .NomFooter{
    display: none;
  }

  #FooterAccueil .PrenomFooter {
    display: block;
    margin: unset;
    font-size: 140px;
  }



}

@media (max-width: 768px){

  #LucasLegendre{
    height: auto;
    padding-bottom: $space-xl;
  }

  #LucasLegendre h1, #ProjetsPro h2{
    font-size: 48px;
  }

  .ContactAccueil{
    height: auto;
    padding: $space-xl 0;
  }

  .ContactAccueil .ContactTitre{
    margin-bottom: $space-l;
  }

  .ContactAccueil .ContactTitre h2{
    font-size: 48px;
  }

  .ContactAccueil .Formulaire .InputForm{
    flex-direction: column;
    height: auto;
    margin-bottom: $space-m;
  }

  .ContactAccueil form input{
    width: 100%;
    margin-bottom: $space-m;
  }

  .ContactAccueil .InputForm textarea[label=message] {
    min-height: 15vh;
  }

  .BaseOverlayPrenomFooter{
    height: 340px;
    margin-bottom: $space-xl;
  }

  .MentionsFooter{
    width: 70%;
  }
}

@media (max-width: 500px){

  #LucasLegendre{
    background-position-x: 50%;
  }

  #LucasLegendre .CarteVerte{
    width: 100%;
  }

  .ContactAccueil .ContactTitre, .ContactAccueil .Formulaire{
    width: 100%;
    padding: 0 $space-xl;
  }

  .MentionsFooter{
    width: 100%;
  }

}

@media (max-width: 425px){

  #LucasLegendre{
    padding: 200px $space-l $space-xl $space-l;
  }

  .ContactAccueil .ContactTitre, .ContactAccueil .Formulaire{
    padding: 0 $space-l;
  }

  .BaseOverlayPrenomFooter {
    height: 240px;
  }

  #FooterAccueil .PrenomFooter{
    font-size: 100px;
  }

}

@media (max-width: 350px){

  #LucasLegendre h1{
    font-size: 36px;
  }

  .ContactAccueil .ContactTitre h2{
    font-size: 36px;
  }

  .ContactAccueil .ContactTitre p{
    font-size: 18px;
  }

}