 @use '@/assets/scss/abstracts/variables' as *;
 @use '@/assets/scss/abstracts/typography' as *;
 @use '@/assets/scss/abstracts/mixins' as *;
 @use '@/assets/scss/components/cards' as *;
 @use '@/assets/scss/components/contact' as *;


#LucasLegendre {
  @include p (0 $space-xxl);
  padding-top: 200px;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: url('@/assets/image/PAGE_ACCUEIL/bandeau_accueil.webp');
  background-size: cover;
  background-position-y: 80%;
  background-repeat: no-repeat;
}

#LucasLegendre h1{
  color: $creme;
  text-transform: uppercase;
  line-height: 1;
}


#LucasLegendre .CarteVerte{
  margin-top: $space-xxl;
  width: 33%;
  height: auto;
}

#LucasLegendre .CarteVerte h2{
  @include body-style($size:$font-size-h3, $weight:600, $color:$creme);
  align-self: flex-start;
}

#LucasLegendre .CarteVerte p{
  margin: $space-s 0;
}

#MonParcours{
  height: 100vh;
  width: 100%;
  margin-top: 84vh; 
  // a revoir avec du js pour décalé la hauteur de la nav
  @include flex($direction: column,  $align: center, $justify: center);
}

#MonParcours img{
  width: 580px;
  height: 580px
}

#MesPassions{
  height: 100vh;
  width: 100%;
  display: flex;
}

.ImagePassion{
  width: 33.33%;
}

.ImagePassion img{
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.TextePassion{
  @include flex-center;
  width: 33.33%;
  position: absolute;
  transform: translate(0%, -500%);
}

.TextePassion p{
  @include title-style($size:$font-size-base, $weight:400, $line-height:1, $color:$creme);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: $space-xs $space-m;
}

.ImagePassion:hover{
  cursor: pointer;
  width: 66.66%;
}
.ImagePassion:hover .TextePassion{
  width: 50%;
}

.ImagePassion:hover p{
  color: $vert;
  background-color: $lime;
  border-radius: 35px;
  cursor: pointer;
}

#MesProjets{
  height: 100vh;
  width: 100%;
  display: none;
}

.DivProjets{
  @include flex($direction: column,  $align: center, $justify: end);
  width: 50%;
}

.DivProjets h2{
  @include title-style($size:$font-size-h1, $weight:400, $line-height:1.2, $color:$creme);
  text-transform: uppercase;
}

.DivProjets p{
  @include body-style($size:$font-size-h3, $weight:600, $line-height:1, $color:$creme);
}

#ProjetsPro{
  background-color: $orange;
}


#ProjetPerso h2{
  color: $vert;
}

#MesProjets .CarteVerte,#MesProjets .CarteOrange{
  width: 560px;
  height: 315px;
  margin: $space-xl 0;
}

.CarteVerte h3 , .CarteOrange h3{
  @include body-style($size:$font-size-h3, $weight:600, $color:$creme);
}

.ContactAccueil{
  @include flex($direction: column,  $align: center, $justify: space-evenly);
  height: 70vh;
}

.ContactAccueil form{
  @include flex($direction: column,  $align: center, $justify: center);
  
}

.ContactAccueil form input, .ContactAccueil form textarea{
  @include body-style($size:$font-size-base, $weight:500, $line-height:1, $color:$creme);
  background-color: $orange;
  border-radius: 35px;
  width: 80%;
  padding: $space-xs $space-s;
}

#FooterAccueil{
  @include flex($direction: row,  $align: center, $justify: space-around);
  height: 30vh;
  background-color: $vert;
  @include body-style($size:$font-size-base, $weight:500, $line-height:1, $color:$creme);
}

#LogoFooter{
  height: 200px;
}

#LogoFooter .st0{
  fill: $creme;
}

#LogoFooter .st1{
  fill: $vert;
}

#LogoFooter:hover .st0{
  fill: $lime;
}


.NavFooter{
  @include flex($direction: column,  $align: start, $justify: space-evenly);
  height: 60%;
  margin-bottom: $space-xl ;
}

.NavFooter li{
  @include body-style($size: $font-size-nav, $weight:600, $line-height:1.5, $color: $creme);
}

.NavFooter li:hover{
  color: $lime;
  cursor: pointer;
}

.ReseauFooter{
  @include flex($direction: row,  $align: center, $justify: end);
  margin-right: $space-xxl;
}

.ReseauFooter .LienLogoReseau{
  margin: 0 $space-xs;
  width: 80px;
}

#LogoGithub .st0{
  fill: $vert;
}

#LogoGithub .st1{
  fill: $creme;
}

#LogoGithub:hover .st1{
  fill: $lime;
}

#LogoLinkedin .st0{
  fill: $vert;
}

#LogoLinkedin .st1{
  fill: $creme;
}

#LogoLinkedin:hover .st1{
  fill: $lime;
}

.MentionsFooter{
  @include flex($direction: column,  $align: center, $justify: center);
  width: 50%;
  height: 30%;
  position: absolute;
}

.CreditFooter{
  opacity: 0.2;
  margin: $space-s 0 $space-l 0;
}

.CallToActionFooter{
  @include title-style($size:$font-size-h2, $weight:400, $line-height:1.2, $color:$creme);
  margin-bottom: auto;
}

.BaseOverlayPrenomFooter{
  @include flex($direction: column,  $align: center, $justify: space-evenly);
  position: relative;
  width: 50%;
  height: 100%;
}

.OverlayPrenomFooter{
  position: absolute;
  overflow: hidden;
  width: 80vw;
  height: 100%;
}

.NomFooter, .PrenomFooter{
  @include title-style(140px, $weight:400, $line-height:1.2);
  color: rgba($creme, 0.2);
  text-transform: uppercase;
}

.NomFooter{
  transform: translate(3%, 105%);
}

.PrenomFooter{
  display: none;
}


// --- MEDIA QUERIES --

@media (max-width: 1700px){

  #LucasLegendre .CarteVerte{
    width: 40%;
  }

}

@media (max-width: 1440px){

  #LucasLegendre{
    background-size: 110%;
    background-position-x: 0%;
  }

  #LucasLegendre .CarteVerte{
    width: 45%;
  }

  .ContactAccueil .ContactTitre, .ContactAccueil .Formulaire{
    width: 40%;
  }

}

@media (max-width: 1200px){

  #LucasLegendre .CarteVerte{
      width: 55%;
  }

  #FooterAccueil{
    padding: 0 $space-l;
  }

}

@media (max-width: 1024px){

  #LucasLegendre{
    padding: 0 $space-xl;
    padding-top: 200px;
    background-size: cover;
    background-position-x: 0%;
  }

  #LucasLegendre .CarteVerte{
    width: 70%;
    background-color: rgba($vert, 0.6);
  }

  .ContactAccueil .ContactTitre, .ContactAccueil .Formulaire{
    width: 60%;
  }

  #FooterAccueil{
    flex-direction: column;
    height: auto;
    margin-top: 100px;
    padding-top: 100px;
  }

  #FooterAccueil .LogoFooter{
    position: absolute;
    transform: translate(-50%, -100%);
    fill: $orange;
  }

  #FooterAccueil .NavFooter li{
    margin: $space-s 0;
  }

  .ContenueFooter{
    width: 100%;
    height: auto;
  }

  .ReseauFooter{
    flex-direction: column;
    margin-top: 0;
    justify-content: center;
  }

  .ReseauFooter img{
    margin: $space-l 0;
  }

  .BaseOverlayPrenomFooter{
    flex-direction: column;
    justify-content: center;
    margin-bottom: unset;
  }

  .BaseOverlayPrenomFooter p{
    margin: $space-s 0;
  }

  #FooterAccueil img[alt="illustration footer"]{
    margin: $space-xl 0;

  }


}

@media (max-width: 768px){

  #LucasLegendre{
    height: auto;
    padding-bottom: $space-xl;
  }

  #LucasLegendre h1{
    font-size: 48px;
  }

  .ContactAccueil{
    height: auto;
    padding: $space-xl 0;
  }

  .ContactAccueil .ContactTitre{
    margin-bottom: $space-l;
  }

  .ContactAccueil .ContactTitre h2{
    font-size: 48px;
  }

  #FooterAccueil .Formulaire .InputForm{
    flex-direction: column;
    height: auto;
    margin-bottom: $space-m;
  }

  .ContactAccueil form input{
    width: 100%;
    margin-bottom: $space-m;
  }

  #FooterAccueil .InputForm textarea[label=message] {
    min-height: 20vh;
  }

}

@media (max-width: 500px){

  #LucasLegendre{
    background-position-x: 50%;
  }

  #LucasLegendre .CarteVerte{
    width: 100%;
  }

  .ContactAccueil .ContactTitre, .ContactAccueil .Formulaire{
    width: 100%;
    padding: 0 $space-xl;
  }

}

@media (max-width: 425px){

  #LucasLegendre{
    padding: 200px $space-l $space-xl $space-l;
  }

  .ContactAccueil .ContactTitre, .ContactAccueil .Formulaire{
    padding: 0 $space-l;
  }

}

@media (max-width: 350px){

  #LucasLegendre h1{
    font-size: 36px;
  }

  .ContactAccueil .ContactTitre h2{
    font-size: 36px;
  }

  .ContactAccueil .ContactTitre p{
    font-size: 18px;
  }

}