@use '@/assets/scss/abstracts/variables' as *;
@use '@/assets/scss/abstracts/typography' as *;
@use '@/assets/scss/abstracts/mixins' as *;
@use '@/assets/scss/components/cards' as *;
@use '@/assets/scss/components/contact' as *;

.Marge{
    margin: 0 $space-xxxl;
}

#MesCompetences{
    @include flex($direction: column,  $align: start, $justify: center);
    height: auto;
    padding-top: 200px;
    margin-bottom:$space-xxxl;
}

#MesCompetences h1{
    color: $vert;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: $space-xl;
}

.ImageCompetence{
    @include flex-center;
    width: 100%;
    height: auto;
}

#SectionParcours h2{
    @include title-style($size:$font-size-h1, $weight:400, $line-height:1, $color:$vert);
    text-transform: uppercase;
}

.Vert{
    background-color: $vert;
}

.Orange{
    background-color: $orange;
}

.CartesParcours{
    @include flex($direction: row,  $align: start, $justify: space-between);
    margin-top: $space-xxl;
}

.CartesParcours img{
    min-width: 250px;
    height: 250px;
    border-radius: 35px;
    margin-right: $space-xl;
}

.CorpsCartesParcours{
    @include flex($direction: column,  $align: start, $justify: center);
    color: $creme;
    padding: $space-l $space-l 0 $space-l;
    width: auto;
    border-radius: 35px;
}

.CorpsCartesParcours h3{
    @include title-style($size:$font-size-h2, $weight:400, $color:$creme);
    margin-bottom: $space-l;
}

.DatesCartesParcours{
    @include flex($direction: row,  $align: start, $justify: space-between);
    @include body-style($size:$font-size-h3, $weight:600, $color:$creme);
    width: 100%;
}

.DatesCartesParcours p{
    margin-right: $space-m;
    width: 25%;
}

.TexteCartesParcours{
    width: 75%;
}


.TexteCartesParcours p{
    @include body-style($size:$font-size-base, $color:$creme);
    width: 100%;
    margin: $space-l 0;
}

@media (max-width: 1440px){
    .Marge{
        margin: 0 $space-xl;
    }
}


@media (max-width: 1024px){

    #MesCompetences h1{
        font-size: 72px;
    }

    #SectionParcours h2{
        font-size: 72px;
    }

    .CartesParcours img{
        margin-right: $space-l;
    }

    .DatesCartesParcours{
        flex-direction: column;
    }

    .DatesCartesParcours p{
        margin-bottom: $space-m;
        margin-right: unset;
        width: 100%;
    }

    .TexteCartesParcours{
        width: 100%;
    }
}

@media (max-width: 768px){

    .Marge{
        margin: 0 $space-l;
    }

    #MesCompetences h1{
        font-size: 48px;
    }

    #SectionParcours h2{
        font-size: 48px;
    }

    .CartesParcours{
        flex-direction: column;
        align-items: center;
    }

    .CartesParcours img{
        margin-right: unset;
        margin-bottom: $space-xl;
        min-width: 50vw;
        height: 50vw;
    }


}

@media (max-width: 500px){

    #MesCompetences h1{
        font-size: 36px;
    }

    #SectionParcours h2{
        font-size: 36px;
    }

    .CartesParcours img{
        min-width: 80vw;
        height: 80vw;
    }

    .CorpsCartesParcours{
        width: 100vw;
        border-radius: unset;
    }
    
    .CartesParcours{
        margin: $space-xl 0;
    }
}