@use '@/assets/scss/abstracts/variables' as *;
@use '@/assets/scss/abstracts/typography' as *;
@use '@/assets/scss/abstracts/mixins' as *;
@use '@/assets/scss/components/cards' as *;
@use '@/assets/scss/components/contact' as *;

#EnteteVoyage {
    @include p (0 $space-xxl);
    padding-top: 200px;
    height: 100vh;
    width: 100%;
    background-image: url('@/assets/image/PAGE_VOYAGE/bandeau_voyage.webp');
    background-size: cover;
    background-position-y: 70%;
    background-repeat: no-repeat;
}
   
#EnteteVoyage h1{
    color: $creme;
    text-transform: uppercase;
    line-height: 1;
}

#EnteteVoyage .CarteVerte{
    width: 560px;
    margin-top: $space-xxl;
}

#Brick{
    @include flex($direction: row,  $align: end, $justify: space-evenly);
    margin: $space-xxxl 0;
    height: 80vh;

}

#Brick h2{
    @include title-style($size:$font-size-h1, $weight:400, $line-height:1.2, $color:$vert);
    text-transform: uppercase;
}

.IntroVoyage{
    @include flex-center;
    width: auto;
    height: 100%;
}

#Brick img{
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 35px;
}

.ContenueVoyage{
    width: 40%;
    height: 100%;
    @include flex($direction: column, $align: start, $justify: start);
}

.ContenueVoyage .CartePassion{
    margin-top: 6rem;
    width: 80%;
}

#RoadMap{
    @include flex($direction: column, $align: center, $justify: center);
    margin-bottom: $space-xxxl;
}

.RoadMapTitre{
    width: 100%;
    background-color: $vert;
    color: $creme;
    padding: $space-xs $space-xxl;
}

.RoadMapTitre h2{
    @include title-style($size:$font-size-h1, $weight:400, $line-height:1.2, $color:$creme);
    text-transform: uppercase;
}

.RoadMapContenue{
    background-color: $orange;
    @include flex($direction: row, $align: start, $justify: space-between);
    height: 70vh;
    padding: 0 $space-xxl;

}

.RoadMapContenue img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    margin: $space-xl $space-xl $space-xl 0;
}

.RoadMapContenueTexte{
    width: 30%;
    margin: $space-xxl $space-xl 0 $space-xl;
    color: $creme;
}

.RoadMapContenueTexte h3{
    @include body-style($size:$font-size-h3, $weight:600, $color:$creme);
    margin-bottom: $space-m;
}

#BichecoAventure{
    @include flex($direction: row, $align: start, $justify: space-between);
    height: 75vh;
    margin-bottom: $space-xxxl;
    padding: 0 $space-xxl;
}

.BichecoAventureContenue{
    @include flex($direction: column, $align: start, $justify: space-between);
    width: 40%;
    height: 100%;

}

.BichecoAventureContenue h2{
    @include title-style($size:$font-size-h1, $weight:400, $line-height:1, $color:$orange);
    text-transform: uppercase;
    text-wrap-mode: nowrap;
}

.BichecoAventureContenue .CartePassion{
    width: 80%;
}

.BichecoAventureContenue .CartePassion button{
    align-self: flex-end;
    margin-top: $space-m;
}

.BichecoAventureEpisode{
    @include flex($direction: column, $align: end, $justify: flex-end);
    height: 100%;
    width: 60%;
}

.BichecoAventureEpisode iframe{
    width: 90%;
    height: 520px;
    border-radius: 35px;
}


@media (max-width: 1700px){

    #Brick img{
        height: 80%;
    }

    #BichecoAventure{
        flex-direction: column;
        align-items: center;
        height: auto;
        position: relative;
        padding: unset;
    }
    
    .BichecoAventureContenue {
        width: 80%;
        align-items: center;
        order: 1;
    }
    
    .TitreBichecoAventure{
        @include flex-center;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0%, -50%);
        width: 100%;
        }

    .BichecoAventureContenue .CartePassion {
        align-self: self-start;
        width: 60%;
        margin-top: $space-xl;
    }

    .BichecoAventureEpisode{
        margin-top: $space-xxxl;
        width: 80%;
        align-items: center;
    }

    .BichecoAventureEpisode iframe{
        width: 100%;
        height: 666px;
    }
    
}

@media (max-width: 1440px){

    #Brick{
        height: 63vh;
    }

    #Brick h2{
        font-size: 75px;
    }

    #Brick img{
        height: 100%;
        aspect-ratio: unset;
    }

    .ContenueVoyage .CartePassion{
        width: 100%;
    }

    .RoadMapContenueTexte{
        margin: $space-xl $space-l 0 $space-l;
    }

    .BichecoAventureEpisode{
        width: 80%;
    }

}

@media (max-width: 1200px){

    #Brick{
        justify-content: center;
    }

    .ContenueVoyage{
        width: 50%;
    }

    .ContenueVoyage .CartePassion{
        width: 80%;
    }

    .BichecoAventureContenue .CartePassion {
        width: 80%;
    }

    .BichecoAventureEpisode iframe{
        height: 500px;
    }
    
}

@media (max-width: 1024px){
    
    #EnteteVoyage h1{
        font-size: 75px;
        text-wrap-mode: nowrap;
    }
    
    #EnteteVoyage .CarteVerte{
        width: 70%;
        background-color: rgba($vert, 0.6);
    }

    #Brick{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: auto;
        margin-top: unset;
        margin-bottom: $space-xxl;

    }

    .IntroVoyage{
        padding-top: $space-xxl;
        background: linear-gradient(to bottom, $orange 70%, transparent 30%);
    }

    .ContenueVoyage{
        width: 100%;
        justify-content: center;
        align-items: center;
        order: 1;
        margin-top: $space-xl;
    }

    .ContenueVoyage .CartePassion {
        width: 60%;
        margin-top: $space-xxl;
        background-color: $orange;
    }

    #Brick img{
        width: 60%;
        aspect-ratio: 1;
    }

    .BichecoAventureEpisode iframe {
        height: 400px;
    }
    
}

@media (max-width: 768px){

    #EnteteVoyage{
        height: auto;
        padding: 200px $space-l $space-xl $space-l;
    }

    #EnteteVoyage h1{
        font-size: 48px;
    }

    #Brick img{
        width: 80%;
    }

    .ContenueVoyage .CartePassion {
        width: 80%;
    }

    #BichecoAventure{
        margin-bottom: $space-xxl;
    }

    .BichecoAventureContenue h2 {
        font-size: 75px;
    }

    .BichecoAventureContenue .CartePassion {
        width: 100%;
    }

    .BichecoAventureEpisode iframe {
        height: 250px;
    }
}

@media (max-width: 600px){
    
    #EnteteVoyage{
        background-size: cover;
    }
    
    #EnteteVoyage .CarteVerte{
        width: 100%;
    }
}

@media (max-width: 500px){

    #EnteteVoyage{
        background-position-x: 50%;
    }

    #EnteteVoyage h1{
        font-size: 32px;
    }

    #EnteteVoyage .CarteVerte {
        margin-top: $space-xl;
    }

    #Brick h2, .BichecoAventureContenue h2 {
        font-size: 48px;
    }

    .BichecoAventureEpisode{
        margin-top: $space-xxl;
    }
}

@media (max-width: 425px){

    .IntroVoyage {
        padding-top: $space-l;
    }

}