@use '@/assets/scss/abstracts/variables' as *;
@use '@/assets/scss/abstracts/typography' as *;
@use '@/assets/scss/abstracts/mixins' as *;

.CarteJeux {
    // flex: 0 0 20%; 
    // margin-right: 10%;

    flex: 0 0 33.3333%; // ~3 cartes par ligne par défaut
    padding: 0 $space-xs;
    box-sizing: border-box;

    height: 550px;
    perspective: 1000px; /* Donne un effet 3D */
    cursor: pointer;

      // Quand l'écran est inférieur ou égal à 1440px → 2 cartes
    @media (max-width: 1440px) {
        flex: 0 0 50%; 
    }

    // Quand l'écran est inférieur ou égal à 768px → 1 carte
    @media (max-width: 768px) {
        flex: 0 0 100%;
    }
}

.CarteJeux:last-child {
    margin-right: 10%; /* Pour correspondre à 4 marges en total */
  }

.CardInner {
    @include flex-center;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.CardInner.flipped {
    transform: rotateY(180deg);
}

.CarteJeuxRecto,
.CarteJeuxVerso {
    position: absolute;
    width: 380px;
    height: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 35px;
}

.CarteJeuxRecto{
    @include flex($direction: column, $align: center, $justify: start);
    background-color: $orange;
    padding: $space-m;
}

.CarteJeuxVerso {
    transform: rotateY(180deg); /* Verso est retourné par défaut */
    background-size: cover;
    background-position: center;
}

.FondCarte{
    @include flex($direction: column, $align: center, $justify: space-between);
    background-color: rgba(20,7,0,0.2);
    width: 100%;
    height: 100%;
    padding: $space-m;
    border-radius: 35px;
}

.CadreTitreCarte{
    background-color: $creme;
    border-radius: 35px;
    width: 100%;
    padding: $space-xs $space-s;
}

.CadreTitreCarte p{
    @include body-style($size:$font-size-base, $weight:600, $color:$vert);
}

.CarteJeuxRecto img{
    width: 91%;
    height: 40%;
    object-fit: cover;
}


.CarteContenueRecto,
.CarteContenueVerso,
.CarteBas {
    @include body-style($size:$font-size-base, $weight:400, $color:$creme);
    width: 90%;
}

.CarteContenueRecto{
    margin: $space-s 0;
}

.CarteContenueTitre{
    font-size: $font-size-nav;
    font-weight: 600;
    margin-bottom: $space-xs;
}

.CarteHistoire{
    @include flex($direction: column, $align: center, $justify: flex-end);
    width: 100%;
    min-height: 35%;
}

.CarteBas{
    @include flex($direction: row, $align: center, $justify: space-between);
    margin-top: auto;
}

#Skyrim .CarteJeuxVerso{
    background-position-x: 39%;
}