@use '@/assets/scss/abstracts/variables' as *;
@use '@/assets/scss/abstracts/typography' as *;
@use '@/assets/scss/abstracts/mixins' as *;

#FooterGlobal{
    @include flex($direction: column,  $align: center, $justify: space-evenly);
    background-color: $vert;
}

.LogoResponsive{
    display: none;
}

#CorpsFooter{
    @include flex($direction: row, $align: center, $justify: space-evenly);
    width: 100%;
}

#FooterGauche{
    @include flex($direction: row, $align: start, $justify: space-between);
    width: 35%;
    height: 100%;
}

#LogoReseau{
    @include flex($direction: column,  $align: center, $justify: space-evenly);
    height: 100%;
}

#LogoReseau .LienLogoReseau{
    margin-top: $space-l;
    width: 50%;
}

#LogoGithub .st0{
    fill: $vert;
}

#LogoGithub .st1{
    fill: $creme;
}
  
#LogoLinkedin .st0{
    fill: $vert;
}

#LogoLinkedin .st1{
    fill: $creme;
}

#NavImage{
    @include flex($direction: column,  $align: start, $justify: space-evenly);
    height: 100%;
    margin: 0 $space-xl;
}

#NavImage .NavFooter{
    justify-content: center;
    height: auto;
}

#NavImage .NavFooter li{
    margin-right: $space-l ;
}

#NavImage img[alt="illustration footer"]{
    width: 200px;
    height: 200px;
    margin-top: $space-xl;
    background-color: $orange;
  }

#FooterGlobal .NavFooter{
    flex-direction: row;
}

#FooterGlobal .ReseauFooter{
    flex-direction: column;
}

#CorpsFooter .ContactTitre {
    width: 70%;
}

#CorpsFooter .Formulaire {
    width: 90%;
}
#CorpsFooter .ContactTitre h2, #CorpsFooter .ContactTitre p{
    color: $creme;
}

#CorpsFooter .Contact{
    height: 65vh;
}

#FooterGlobal .BaseOverlayPrenomFooter{
    color: $creme;
    justify-content: center;
    margin: $space-l 0;
}

#FooterGlobal .BaseOverlayPrenomFooter p{
    margin: 0 $space-m;
}

@media (max-width: 1440px){

    #FooterGlobal{
        margin-top: $space-xxxl;
        padding-top: $space-xl;
    }

    #CorpsFooter{
        flex-direction: column-reverse;
    }

    .Contact{
        margin: $space-xl 0;
    }

    .LogoFooter{
        display: none;
    }

    .LogoResponsive{
        display: block;
        position: absolute;
        transform: translate(-50%, -80%);
        fill: $orange;
    }

    #FooterGauche{
        width: 80%;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    #NavImage{
        align-items: center;
        justify-content: center;
    }
    
    #NavImage .NavFooter{
        margin-bottom: $space-xl;
    }
    
    #NavImage .NavFooter li{
        margin: 0 $space-xl;
    }
    
    #NavImage img[alt="illustration footer"] {
        position: absolute;
        transform: translate(-0%, 190%);
        margin: unset;
    }

    #LogoReseau{
        flex-direction: row;
    }

    #LogoGithub, #LogoLinkedin{
        margin: 0 $space-l;
    }
    
    
    #FooterGlobal .BaseOverlayPrenomFooter {
        margin-bottom: 350px;
    }

    #FooterGlobal .BaseOverlayPrenomFooter p{
        margin: $space-xs 0;
    }
    
}