@use '@/assets/scss/abstracts/variables' as *;
@use '@/assets/scss/abstracts/typography' as *;
@use '@/assets/scss/abstracts/mixins' as *;

.Galerie{
    @include flex($direction: column,  $align: center, $justify: center);
}

.GaleriePack{
    @include flex($direction: row,  $align: center, $justify: space-evenly);
    width: 100%;
    margin-bottom: $space-xxl;
}

.GaleriePack img{
    object-fit: cover;
    aspect-ratio: 1;
    width: 25vw;
    border-radius: 35px;
}

@media (max-width: 768px){

    .GalerieGlobal{
        margin-bottom: $space-xxl;
    }

    .Galerie > :nth-child(2) {
        display: none;
    }

    .GaleriePack{
        flex-direction: column;
        margin-bottom: unset;
    }

    .GaleriePack img{
        width: 60vw;
        margin-bottom: $space-xl;
    }
}

@media (max-width: 425px){

    .GaleriePack img{
        width: 80vw;
    }
}