@use '@/assets/scss/abstracts/variables' as *;
@use '@/assets/scss/abstracts/typography' as *;
@use '@/assets/scss/abstracts/mixins' as *;


#Nav{
  @include flex($direction: row, $align: center, $justify: space-between);
  @include p(0 $space-l);
  height: 145px;
  border-radius: 35px 35px 0 0;
  z-index: 100;
  top: 0;
  width: 100%;
}

.NavAcceuil{
  position: sticky;
}

.NavParcours{
  background-color: $vert;
  position: unset;
}

.NavPassions{
  position: absolute;
}

#LienNav{
  @include flex($direction: row, $align: center, $justify: space-around);
  width: 30%;
}

#LienNav li{
  @include body-style($size: $font-size-nav, $weight:600, $line-height:1.5, $color: $orange);
  text-decoration: none;
}

#LienNav li:hover{
  color: $lime;
}

#LogoNav{
  fill: $orange;
  height: 110px;
  @include spacing($top: $space-xs)
}

#LogoNav:hover{
  fill: $lime;
}