@use '@/assets/scss/abstracts/variables' as *;
@use '@/assets/scss/abstracts/typography' as *;
@use '@/assets/scss/abstracts/mixins' as *;


#Nav{
  @include flex($direction: row, $align: center, $justify: space-between);
  @include p(0 $space-l);
  height: 145px;
  z-index: 100;
  top: 0;
  width: 100%;
  padding-top: $space-m;
  position: absolute;
}

.LogosNav{
  @include flex($direction: row, $align: center, $justify: space-between);
  width: 100%;
  height: 100%;
}

.Active .LogosNav{
  height: unset;
}

#Nav.NavAcceuil{
  position: sticky;
}

.NavOverProjet #LienNav li{
  background-color: $creme;
  color: $vert;
}

.NavOverProjet #LienNav li:hover{
  color: $creme;
}

.NavOverProjet #NavPassion:has(#LienPassion:hover) {
  background-color: $creme;
  color: $vert;
}


.NavOverProjet #LienPassion li{
  background-color: $lime;
  color: $vert;
}

#Nav.NavOverFooter{
  opacity: 0; 
  pointer-events: none;
}


#LienNav{
  @include flex($direction: row, $align: center, $justify: space-around);
  width: auto;
}

#LienNav li{
  @include body-style($size: $font-size-base, $weight:600, $line-height:1.5, $color: $creme);
  text-decoration: none;
  background-color: $orange;
  border-radius: 35px;
  padding: $space-xs $space-s;
  margin: 0 $space-xs;
}

#LienNav li:hover{
  background-color: $vert;
  cursor: pointer;
}

#LienPassion{
  position: absolute;
  display: none;
  transform: translate(-40%, 5%);
  padding-top: $space-xxs;
}

#NavPassion:hover #LienPassion{
  @include flex($direction: column, $align: end, $justify: space-between);
}

#LienPassion:hover{
  @include flex($direction: column, $align: end, $justify: space-between);
}

#NavPassion:has(#LienPassion:hover) {
  background-color: $orange;
}


#LienPassion li{
  background-color: $lime;
  color: $vert;
  margin: $space-xs 0;
}

#LienPassion li:hover{
  color: $creme;
}


#LogoNav{
  height: 110px;
}

#LogoNav .st0{
  fill: $creme;
}

#LogoNav .st1{
  fill: $vert;
}

#LogoNav:hover .st0{
  fill: $vert;
}

#LogoNav:hover .st1{
  fill: $creme;
}


#LogoBurger{
  display: none;
  width: 60px;
  margin-bottom: $space-s;
}

.st01 {
  fill: $creme;
}

.st11 {
  fill: $vert;
}

#LogoCroix{
  display: none;
  width: 60px;
}

.st02 {
  fill: $creme;
}

.st12 {
  fill: $vert;
}


@media (max-width: 768px){

  #Nav.NavAcceuil{
    position: absolute;
  }

  #Nav.Active{
    height: 110vh;
    flex-direction: column;
    align-items: center;
    justify-content: start;    
    padding-top: $space-m;
    background-color: rgba($orange, 0.9);
  }

  .LogosNav{
    align-items: unset;
  }
  
  #LogoBurger{
    display: block;
  }
  
  #LogoBurger.Inactive{
    display: none;
  }

  #LogoCroix.Active{
    display: block;
  }

  #LienNav{
    display: none;
    flex-direction: column;
    margin-top: $space-l;
    transition: transform 0.3s ease-in-out;
  }

  #LienNav.Active{
    display: flex;
  }

  #LienNav li{
    margin: $space-xs $space-m ;
    background-color: $creme;
    color: $vert;
  }

  #LienNav #NavPassion{
    margin: unset;
    background-color: unset;
    padding: unset;
  }

  #NavPassion p{
    display: none;
  }

  #LienPassion{
    @include flex($direction: column, $align: center, $justify: space-between);
    position: unset;
    transform: unset;
    padding-top: unset;
  }
  


}