@use '@/assets/scss/abstracts/variables' as *;
@use '@/assets/scss/abstracts/typography' as *;
@use '@/assets/scss/abstracts/mixins' as *;


#Nav{
  @include flex($direction: row, $align: center, $justify: space-between);
  @include p(0 $space-l);
  height: 145px;
  border-radius: 35px 35px 0 0;
  z-index: 100;
  top: 0;
  width: 100%;
  padding-top: $space-m;
}

.LogosNav{
  @include flex($direction: row, $align: center, $justify: space-between);
  width: 100%;
}

.NavAcceuil{
  position: sticky;
}

.NavParcours{
  background-color: $vert;
  position: unset;
}

.NavPassions{
  position: absolute;
}

#LienNav{
  @include flex($direction: row, $align: center, $justify: space-around);
  width: auto;
}

#LienNav li{
  @include body-style($size: $font-size-nav, $weight:600, $line-height:1.5, $color: $vert);
  text-decoration: none;
  background-color: $creme;
  border-radius: 35px;
  padding: $space-xs $space-s;
  margin: 0 $space-s;
}

#LienNav li:hover{
  color: $lime;
  background-color: $vert;
}

#LogoNav{
  height: 110px;
}

#LogoNav .st0{
  fill: $creme;
}

#LogoNav .st1{
  fill: $vert;
}

#LogoNav:hover .st0{
  fill: $vert;
}

#LogoNav:hover .st1{
  fill: $lime;
}


#LogoBurger{
  display: none;
  width: 60px;
}

.st01 {
  fill: $creme;
}

.st11 {
  fill: $vert;
}

#LogoCroix{
  display: none;
  width: 60px;
}

.st02 {
  fill: $creme;
}

.st12 {
  fill: $vert;
}


@media (max-width: 768px){

  #Nav.Active{
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: start;    
    padding-top: $space-m;
    background-color: rgba($orange, 0.7);
    border-radius: unset;
  }
  
  #LogoBurger{
    display: block;
  }
  
  #LogoBurger.Inactive{
    display: none;
  }

  #LogoCroix.Active{
    display: block;
  }

  #LienNav{
    display: none;
    flex-direction: column;
    margin-top: $space-l;
    transition: transform 0.3s ease-in-out;
  }

  #LienNav.Active{
    display: flex;
  }

  #LienNav li{
    margin: $space-xs $space-m ;
  }


}